{% extends 'base.html.twig' %}

{% block title %}Réservation n° {{booking.id}}{% endblock %}

{% block body %}

{% set ad = booking.ad %}
{% set author = ad.author %}



    <div class="container">
        <h1>Votre resérvation (n°{{booking.id}})</h1>

        {% if app.request.query.get('success') %}
        <div>
            <div class="alert alert-success">
                <h4 class="alert-heading">Bravo !</h4>
                <p>
                    Votre réservation aurprés de <strong>
                        <a href="{{path('user_show',{'slug': author.slug})}}">{{author.fullName}}</a>
                    </strong>
                    pour l'annonce 
                    <strong>
                        <a href="{{path('ads_show', {'slug' : ad.slug})}}">{{ad.title}}</a>
                    </strong>
                    à bien été prise en compte!
                </p>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2>Détails</h2>
                    <dl class="row">

                        <dt class="col-md-4">Numéro</dt>
                        <dd class="col-md-8">{{booking.id}}</dd>
                        <dt class="col-md-4">Date d'arrivée</dt>
                        <dd class="col-md-8">{{booking.startDate | date('d/m/Y')}}</dd>
                        <dt class="col-md-4">Date de départ</dt>
                        <dd class="col-md-8">{{booking.endDate | date('d/m/Y')}}</dd>
                        <dt class="col-md-4">Nombre de nuits</dt>
                        <dd class="col-md-8">{{booking.duration}}</dd>
                        <dt class="col-md-4">Montant total</dt>
                        <dd class="col-md-8">{{booking.amount}} &euro;</dd>
                        <dt class="col-md-4">Commentaire</dt>
                        <dd class="col-md-8">{{booking.comment | default('Aucun Commentaire')}}</dd>



                    </dl>


                    <hr>
                    <h2 class="alert-heading">Votre hôte</h2>
                    <div class="row mb-3">
                        <div class="col-3">
                            <img src="{{author.picture}}" alt="{{author.fullName}} " class="_avatar _avatar-medium">

                        </div>
                        <div class="col-9">
                            <h4>
                                <a href="{{path('user_show', {'slug': author.slug})}}">{{author.fullName}}</a>
                            </h4>
                            <span class="badge badge-primary">{{author.ads | length}} annonces </span>


                        </div>

                    </div>

                    {{author.description | raw }}

                    <a href="{{path("user_show", {'slug': author.slug})}}" class="btn btn-primary">Plus d'info sur {{ author.firstname}}</a>
                </div>
                <div class="alert alert-light" id="comment">
                    <h2 class="alert-heading">Votre avis compte !</h2>
                    {% if date() > date(booking.endDate) %}
                    {% set comment = booking.ad.getCommentFromUser(app.user) %}
                        {% if comment is not null  %}

                            <blockquote>
                                {{comment.content}}
                            </blockquote>
                            <strong>
                                Note : 
                            </strong>
                                {% include "partials/rating.html.twig" with {'rating': comment.rating} %}
                        {% else %}
                            {# display form #}
                            {{ form_start(form) }}
                            {{ form_widget(form) }}

                            <button class="btn btn-primary"> Commenter </button>
                            {{ form_end(form) }} 
                        {% endif %}
                            
                        

                    {% else %}
                    <p>Vous ne pourrait pas notter cette annonce avant la fin de votre voyages ! </p>
                        
                    {% endif %}
                </div>
            </div>

            <div class="col">

                <div class="alert alert-ligth">
                    <h2 class="alert-heading">Votre hébergement</h2>
                </div>
                <h4>
                    <a href="{{path('ads_show', {'slug' : ad.slug})}}">{{ad.title}}</a>
                </h4>

                <img src="{{ad.coverImage}}" alt="Image de {{ad.title}}" class="img-fluid">

                {{ad.content | raw}}
                <hr>

                <a href="{{path('ads_show', {'slug': ad.slug})}}" class="btn btn-primary">Voir l'annonces</a>
            </div>

        </div>

    </div>

{% endblock %}



{% block javascripts %}

<script src="/js/ad.js"></script>


{% endblock %}