{% extends 'base.html.twig' %}

{% block title %}Editon  d'une annonce{% endblock %}


{% form_theme form 'ad/_collection.html.twig' %}


{% block body %}
    <div class="container">
        <h1>Modifier l'annonce : {{ad.title}}</h1>

        
        {{ form_start(form)}}
        {# {{ dump() }} #}
        
        {{ form_widget(form)}}
        <input type="hidden" id="widget-counter" value="0">
        
        <button type="submit" class="btn btn-primary">Editer l'annonce</button>
        {{ form_end(form)}}
        
        
        
    </div>
{% endblock %}





{% block javascripts %}

{# <script src="/js/ad.js"></script> #}
{{ encore_entry_script_tags('ad') }}
{% endblock %}

