{% extends 'base.html.twig' %}

{% block title %}Nos magnifique annonce{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-4">Nos super annonce</h1>


    <div class="row">
        {% for ad in ads %}
        <div class="col-md-4">
            <div class="card border-dark mb-3" style="max-width: 20rem;">
                <div class="card-header text-center">
                    
                    {{ad.rooms}} chambres, {{ad.price}} €/ nuit 
                    <small>pas encore noté</small>
                </div>
                <img src="{{ad.coverImage}}" alt="img" style="height: 200px; width : 100%; display: block ">
                
                <div class="card-body">
                    <h4 class="card-title">{{ad.title}}</h4>
                    <p class="card-text">{{ad.introduction}}</p>
                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}
