{% extends 'admin/base.html.twig' %}

{% block title %}Modification du commentaire n°
	{{comment.id}}
{% endblock %}


{% block body %}
<div class="container">

	<h1 class="my-5">Modification du commentaire
		{{comment.id}}</h1>

<div class="alert-info mb-5 p-3">
<strong>Annonce liée : </strong> {{comment.ad.title}} <br>
<strong>Autheur : </strong> {{comment.author.fullName}} <br>
<strong>Date de creation : </strong> {{comment.createdAt | date('d/m/Y')}} <br>
<strong>Note donnée : </strong> {{comment.rating}}



</div>



	{{form_start(form)}}
	{{form_widget(form)}}

    <button class="btn btn-primary" type="submit">
    Modifier
        <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
	{{form_end(form)}}

</div>



{% endblock %}
