{% extends 'admin/base.html.twig' %}

{% block title %}Administartion des réservations!{% endblock %}


{% block body %}

<div class="container-fluid">
    <h1 class="my-5">Gestions des réservations</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Visiteur</th>
                <th>Annonce</th>
                <th>Prix</th>

                <th>Action</th>

            </tr>
        </thead>

        <tbody>
            {% for book in paginations.data %}
                <tr>
                    <td>{{book.id}}</td>
                    <td>{{book.createAt | date('d/m/Y')}}</td>
                    <td>
                        <img src="{{book.booker.picture}}" alt="avatar" class="_avatar _avatarMini mr-2">
                        {{book.booker.fullName}}
                    </td>
                    <td>
                        <span class="badge badge-primary rounded">{{book.ad.title}}</span>
                    </td> 
                    <td>{{book.amount}}</td>
                    <td>
                        <a href="{{path('admin_booking_edit',{'id':book.id})}}" class="btn btn-warning">
                            <i class="fa fa-edit"></i>
                            </a>
                        <a href="{{path('admin_booking_delete', {'id':book.id})}}" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{# pagination #}
    {% set nbrPage = paginations.pages %}
    {% set page = paginations.currentPage %}
    {% include "admin/partials/pagination.html.twig" with {'nbrPages':nbrPage,'page':page, 'route':'admin_booking_index'} %}


</div>



{% endblock %}
